Repository teojiesern/ShuttleStop-FE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --no-error-on-unmatched-pattern, eslint

.lintstagedrc.json:

{
    "**/*.{js,jsx}": ["prettier --check --no-error-on-unmatched-pattern", "eslint"],
    "**/*.{json,yml,md}": ["prettier --check --no-error-on-unmatched-pattern"]
}

docs: update readme
  README.md
Due: prettier --check --no-error-on-unmatched-pattern

conf/remove unused code
  public/vite.svg
  src/App.css
  src/App.jsx
  src/assets/react.svg
  src/main.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

conf/add compile
  .husky/pre-commit
  package.json
Due: prettier --check --no-error-on-unmatched-pattern

navigation/navigation init
  package-lock.json
  package.json
  src/App.jsx
  src/app/modules/checkout/navigation/CheckoutScreens.jsx
  src/app/modules/checkout/view/CheckoutTestScreen.jsx
  src/app/modules/ciam/navigation/CIAMScreens.jsx
  src/app/modules/ciam/view/CIAMTestScreen.jsx
  src/app/modules/ciam/view/CIAMTestScreenTwo.jsx
  src/app/modules/customer/navigation/CustomerScreens.jsx
  src/app/modules/customer/view/CustomerTestScreen.jsx
  src/app/modules/equipmentMarketplace/navigation/EquipmentScreens.jsx
  src/app/modules/equipmentMarketplace/view/EquipmentTestScreen.jsx
  src/app/modules/main/view/MainScreen.jsx
  src/app/modules/marketing/navigation/MarketingScreens.jsx
  src/app/modules/marketing/view/MarketingTestScreen.jsx
  src/app/modules/marketing/view/MarketingTestScreenTwo.jsx
  src/app/platform/router.jsx
  src/main.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

conf/add recomendations
  .vscode/extensions.json
Due: prettier --check --no-error-on-unmatched-pattern

conf/add readme snippets docs
  README.md
Due: prettier --check --no-error-on-unmatched-pattern

conf/example structure
  src/app/modules/ciam/data/repository/TestRepositoryImpl.js
  src/app/modules/ciam/data/source/TestSource.js
  src/app/modules/ciam/navigation/CIAMScreens.jsx
  src/app/modules/ciam/view/CIAMTestScreen.jsx
  src/app/modules/ciam/view/Screen/CIAMTestScreen.jsx
  src/app/modules/ciam/view/Screen/CIAMTestScreenTwo.jsx
  src/app/modules/ciam/view/component/TestComponent.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

conf/css reset
  src/main.jsx
  src/reset.css
Due: prettier --check --no-error-on-unmatched-pattern, eslint

refactor(storybook): use reusable decorator
  src/app/modules/ciam/navigation/CIAMScreens.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

refactor(storybook): use reusable decorator
  src/app/modules/checkout/navigation/CheckoutScreens.jsx
  src/app/modules/ciam/navigation/CIAMScreens.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

readme: update readme
  README.md
Due: prettier --check --no-error-on-unmatched-pattern

package: add material ui
  index.html
  package-lock.json
  package.json
  src/app.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

readme: update readme again
  README.md
Due: prettier --check --no-error-on-unmatched-pattern

conf: ignore must add alt eslint
  .eslintrc.json
Due: prettier --check --no-error-on-unmatched-pattern

conf: change structure to use nested routes
  src/app/modules/ciam/navigation/CIAMScreens.jsx
  src/app/modules/main/view/MainScreen.jsx
  src/app/modules/sellerCenter/navigation/EquipmentScreens.jsx
  src/app/modules/sellerCenter/view/EquipmentTestScreen.jsx
  src/app/platform/components/Layouts/AuthLayout.jsx
  src/app/platform/components/Layouts/MainLayout.jsx
  src/app/platform/components/Layouts/SellerCenterLayout.jsx
  src/app/platform/icons/shuttlestopLogo.svg
  src/app/platform/router.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

add header structure
  .eslintrc.json
  src/app/modules/main/view/MainScreen.jsx
  src/app/platform/Colors.js
  src/app/platform/components/Header/Header.jsx
  src/app/platform/components/Header/HeaderLink.jsx
  src/app/platform/icons/logo.svg
  src/app/platform/icons/shoppingCart.svg
  src/app/platform/router.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(app): add mui dependency
  package-lock.json
  package.json
Due: prettier --check --no-error-on-unmatched-pattern

feat(app): import fonts
  src/app/platform/style/FontSize.js
  src/app/platform/style/FontWeight.js
  src/app/platform/style/GlobalStyle.js
  src/fonts.css
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(app): ignore eslint rules
  .eslintrc.json
Due: prettier --check --no-error-on-unmatched-pattern

feat(app): finish up headers
  src/app.jsx
  src/app/platform/components/Header/Header.jsx
  src/app/platform/components/Header/HeaderLink.jsx
  src/app/platform/components/Header/HeaderNavLink.jsx
  src/app/platform/components/Header/SearchField.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(app): add animation
  src/app/platform/components/Header/HeaderLink.jsx
  src/app/platform/components/Header/HeaderNavLink.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(main): implement stylings for route detection
  src/app/modules/customer/navigation/CustomerScreens.jsx
  src/app/modules/marketing/navigation/MarketingScreens.jsx
  src/app/platform/components/Header/Header.jsx
  src/app/platform/components/Header/HeaderNavLink.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(layout): add layout
  src/app/platform/components/Layouts/MainLayout.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(layout): change icon logo
  index.html
  public/logo-icon.svg
Due: none

feat(layout): update layout
  src/app/modules/customer/view/CustomerTestScreen.jsx
  src/app/modules/main/view/MainScreen.jsx
  src/app/platform/components/Footer/Footer.jsx
  src/app/platform/components/Header/Header.jsx
  src/app/platform/components/Layouts/MainLayout.jsx
  src/app/platform/router.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

conf(package): configure
  package-lock.json
Due: prettier --check --no-error-on-unmatched-pattern

fix(package): remove unnecessary lock file changes
  src/app/modules/customer/view/CustomerTestScreen.jsx
  src/app/modules/customer/view/Product.jsx
  src/app/modules/customer/view/SideNav.jsx
  src/app/platform/icons/ProductList.js
  src/app/platform/icons/ProductList2.js
  src/app/platform/icons/accessories.png
  src/app/platform/icons/apparel.png
  src/app/platform/icons/bag.jpeg
  src/app/platform/icons/footware.jpeg
  src/app/platform/icons/racquet.png
  src/app/platform/icons/shuttlecock.jpeg
Due: prettier --check --no-error-on-unmatched-pattern, eslint

filter removed
  src/app/modules/customer/view/CustomerTestScreen.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(conf): add pr template
  .github/pull_request_template.md
Due: prettier --check --no-error-on-unmatched-pattern

feat(app): add global error boundary
  src/app/platform/components/ErrorBoundary.jsx
  src/app/platform/icons/rootError.svg
  src/app/platform/router.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

modify
  src/app/modules/customer/assets/ProductList2.js
  src/app/modules/customer/assets/accessories.png
  src/app/modules/customer/assets/apparel.png
  src/app/modules/customer/assets/bag.jpeg
  src/app/modules/customer/assets/footware.jpeg
  src/app/modules/customer/assets/racquet.png
  src/app/modules/customer/assets/shuttlecock.jpeg
  src/app/modules/customer/navigation/CustomerScreens.jsx
  src/app/modules/customer/view/ProductBrowsing.jsx
  src/app/modules/customer/view/SideNav.jsx
  src/app/platform/icons/ProductList.js
Due: prettier --check --no-error-on-unmatched-pattern, eslint

modify
  src/app/modules/customer/assets/ProductList2.js
  src/app/modules/customer/view/ProductBrowsing.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(main): add resized image
  public/MainScreen/AllEngland.jpg
  public/MainScreen/BWFWC2023.jpeg
  public/MainScreen/BWFWC23.jpeg
  public/MainScreen/DenmarkOpen.png
  public/MainScreen/GuangZhouWorldChamp.jpeg
  public/MainScreen/HKOpen.jpeg
  public/MainScreen/MalaysiaOpen23.png
  public/MainScreen/MalaysiaOpen24.png
  public/MainScreen/SkyWorth.jpeg
  public/MainScreen/SudirmanCup.jpeg
  public/MainScreen/SurreyBC.jpeg
  public/MainScreen/ThailandOpen.jpeg
  public/MainScreen/WC19.png
  public/MainScreen/WC23.jpeg
  public/MainScreen/WorldTourFinals.jpeg
Due: none

feat(main): add data layer
  src/app/modules/main/data/homeBanner.js
  src/app/modules/main/data/homeBanner2.js
  src/app/modules/main/data/homeBanner3.js
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(main): update color
  src/app/platform/Colors.js
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(main): new package
  package-lock.json
  package.json
Due: prettier --check --no-error-on-unmatched-pattern

feat(main): carousel component
  src/app/modules/main/view/component/Embla/EmblaCarousel.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(main): dot button for carousel
  src/app/modules/main/view/component/Embla/DotButton.jsx
  src/app/modules/main/view/component/Embla/useDotButton.js
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(main): consume logic
  src/app/modules/main/view/MainScreen.jsx
Due: prettier --check --no-error-on-unmatched-pattern, eslint

feat(main): fix unable to click bug
  src/app/modules/main/view/component/Embla/DotButton.jsx
  src/app/modules/main/view/component/Embla/EmblaCarousel.jsx
  src/app/modules/main/view/component/Embla/useDotButton.js
Due: prettier --check --no-error-on-unmatched-pattern, eslint
